<!DOCTYPE html>
<html lang="en">
<head>
	<title>Project X</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="header">
		<div class="header-left">
			<a href="#">Project X</a>
		</div>
		<div class="header-right">
			<a href="learnmore.html">Learn More</a>
			<a href="download.html">Download App</a>
			<a href="login.html">Login</a>
			<a class="header-right-signup" href="signup.html">Signup</a>
		</div>
	</div>

	<div class="fold1">
		<div class="fold1-head">
			<h1>Form Filling Made Easy</h1>
		</div>
		<div class="fold1-head-desc">
			<p>This is the description of this application</p>
		</div>
		<div class="fold1-head-cta">
			<a href="signup.html">Try Now</a>
		</div>
	</div>	
</body>
</html>