<!DOCTYPE html>
<html>
<head>
	<title>Signup | Project X</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="auth">
		<form action="dashboard.html" method="POST" autocomplete="ON" class="signup">
			<h2>Signup</h2>
			<label for="username"></label>
			<input type="email" name="username" placeholder="Your Email" required>
			<label for="password"></label>
			<input type="password" name="password" placeholder="Choose a password" required>
			<label for="confirmpw"></label>
			<input type="password" name="password" placeholder="Confirm Password" required>
			<p style="text-align: left; padding-left: 40px;"><input class="radio" type="radio" name="showpw" onclick=""> Show Password</p>
			<input type="submit" name="submit" value="Register">
			<p>Already a user? <a href="login.html">Login</a></p>
		</form>
	</div>
</body>
</html>